@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #2563EB;       
  --color-secondary: #b5b1f4;     
  --color-accent: #07037C;              
  --color-base-100: #bce6fe;     

}